.after-carousel{
    padding-top: 150px;
    padding-bottom: 60px;
    
}
.carousel-romen-img{
    filter: brightness(60%);
}


@media screen and (max-width: 576px) {
    body {
        color: blue;

    }
    .carouse-romen{
        text-align: center;
        font-size: small;
        
    }
    .carouse-romen img{
        height: 400px;
    }
}